{% extends 'OrderApp/base.html' %}

{% load static %}

{% block title %}О компании - Vittar{% endblock %}
{% block style %}{% static 'css/OrderApp/about_company.css' %}{% endblock %}

{% block content %}
    <div class="content">
        <h3 class="content__header">
            <span>О компании</span>
        </h3>
        <div class="content__body">
            <p>Сегодня на рынке огромное количество компаний, предлагающих грузоперевозки по России. И мы понимаем, как трудно клиенту найти компанию, которой можно доверить свой груз. Если вы еще стоите перед выбором, то мы можем предложить вам ознакомиться с рекомендациями наших клиентов или же просто начать сотрудничество с нами, а мы уже, в свою очередь, постараемся понравиться и сделать все возможное для качественной и надежной доставки ваших грузов.</p>

            <p>Мы прекрасно знаем все нюансы такого процесса, как грузоперевозки и доставка грузов вне зависимости от маршрута следования и характеристик груза и всегда обеспечиваем стабильно высокий уровень качества предоставляемых услуг по доставке грузов.</p>

            <p>В нашей производственной деятельности мы соблюдаем все необходимые правила грузоперевозки. При грузоперевозке по России мы обязаны контролировать ваш груз, и благодаря детально разработанному и согласованному маршруту, мы делаем это профессионально.</p>

            <p>Деятельность нашей компании — перевозка грузов по России — полностью соответствует вашему представлению о высоком уровне обслуживании, четкости и упорядоченности в сроках, и, главное, качестве конечного результата.</p>
        </div>
    </div>
{% endblock %}