{% extends 'OrderApp/base.html' %}

{% load static %}
{% load extra_filters %}

{% block title %}Все заказы - Vittar{% endblock %}
{% block style %}{% static 'css/OrderApp/all_orders.css' %}{% endblock %}

{% block content %}
    <div class="content">
        <h3 class="content__header">
            <span>Заказы</span>
        </h3>
        <div class="content__body">
            <div class="orders">
                {% include 'OrderApp/all_orders_ajax.html' %}
            </div>
        </div>
    </div>
    <!-- Скрипты -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}