{% load static %}
{% load extra_filters %}

{% for order in orders %}
    <a href="#" class="order">
        <div class="order__block_1">
            <br>
            <img src="{% static 'img/Иконка грузовика.png' %}">
            <p>{{ order.cargo_weight }} кг. / {{ order.cargo_volume }} м<sup>2</sup></p>
        </div>
        <div class="order__block_2">
            <div class="order__block_2_1">
                <p>{{ order.departure_address }} - {{ order.delivery_address }}</p>
            </div>
            <div class="order__block_2_2">
                <p>Описание груза: {{ order.cargo_name }}</p>
            </div>
            <div class="order_block_2_3">
                <p>Заказчик: {{ order.user.full_name }} ({{ order.user.company_name }})</p>
                <p>E-mail: {{ order.user }}</p>
                <p>Телефон: {{ order.user.phone }}</p>
            </div>
        </div>
        <div class="order__block_3">
            <p class="number">№ {{ order.id|rightzeros }}</p>
            <img src="{% static 'img/Кнопка подробнее.png' %}">
            <p><img src="{% static 'img/Иконка часов.png' %}">{{ order.adding_datetime }}</p>
        </div>
    </a>
    <div class="action_but">
        <a class="deny" href="{% url 'order_deny' order.id %}">Отказать</a>
        <a class="accept" href="{% url 'order_accept' order.id %}">Принять</a>
    </div>
{% empty %}
    <h4 class="empty">Тут пока ничего нет</h4>
{% endfor %}