{% extends 'OrderApp/base.html' %}

{% load static %}
{% load extra_filters %}

{% block title %}Мои заказы - Vittar{% endblock %}
{% block style %}{% static 'css/OrderApp/user_orders.css' %}{% endblock %}

{% block content %}
    <div class="content">
        <h3 class="content__header">
            <span>Мои заказы</span>
        </h3>
        <div class="content__body">
            <div class="orders">
                {% include 'OrderApp/user_orders_ajax.html' %}
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}